{% load static %}

<div class="hero-image">
    <div class="hero-text">
      <h1>The Kettle</h1>
      <p>Where Great <strong>Coffee</strong> is <strong>Outstanding</strong> <br>
      and Great <strong>Tea</strong> is <strong>Sublime</strong>.</p>
      <button class="btn btn-info btn-custom" ><a href="{% url 'products' %}">SHOP NOW</a></button>
    </div>
  </div>
  <div class="quote">
    <h5>
        "To me, the smell of fresh-made coffee is one of the greatest inventions."
    <br>
    <span class="text-muted">Hugh Jackman</span>
    </h5>
    <br>
    <h5>
        "There are few hours in life more agreeable than the hour dedicated to the ceremony known as afternoon 
        tea."
    <br>
    <span class="text-muted">Henry James</span>
    </h5>
    <br>
    <br>
     <h4>
        DISCOVER THE MOST AUTHENTIC COFFEE AND TEA AT THE KETTLE!
    
    </h4>
  </div>