{% load static %}
<!-- Navbar inspiration from https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=navbar-with-search-box-in-dropdown -->

<nav class="navbar navbar-expand-lg">
	<a href="#" class="navbar-brand">The<b>Kettle</b></a>  		
	<button type="button" class="navbar-toggler custom-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a href="{% url 'home' %}" class="nav-item nav-link active">HOME</a>
			<a href="{% url 'products' %}" class="nav-item nav-link">ALL PRODUCTS</a>			
			<a href="{% url 'products' %}?category=coffee" class="nav-item nav-link">COFFEE</a>
			<a href="{% url 'products' %}?category=tea" class="nav-item nav-link">TEA</a>
			<a href="#" class="nav-item nav-link">CONTACT</a>
        </div>		
		<div class="navbar-nav ml-auto">			
			<div class="nav-item dropdown search-dropdown">
				<a data-toggle="dropdown" class="nav-item nav-link dropdown-toggle" href="#"><i class="fa fa-search"></i></a>
				<a data-toggle="dropdown" class="nav-item nav-link dropdown-toggle d-none" href="#"><i class="fa fa-close"></i></a>
				<div class="dropdown-menu">
					<div>
                        <form method="GET" action="{% url 'products' %}">
                            <div class="input-group search-box">								
                                <input type="text" id="search" name="q" class="form-control" placeholder="Search here...">
								<div class="input-group-append">
									<button  class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
								</div>
                            </div>
                        </form>                        
                    </div>
                </div>
            </div>
            <a href="#" class="nav-item nav-link">
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle">ACCOUNT</a>
                    <div class="dropdown-menu">	
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a href="#" class="dropdown-item">Product Management</a>
                            {% endif %}
                                <a href="#" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </div>
            </a>
            
			<a href="#" class="nav-item nav-link"><i class="fa fa-shopping-bag"></i>
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                            <div class="text-center">
                                
                                <p class="my-0">
                                    {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a></a>
            
        </div>
	</div>
</nav>